<ion-content>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Familias Productos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list *ngFor="let familia of familiasList">
        <ion-item button (click)="cambiarContenidoPagina()">
          <ion-label>{{familia.nombre}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>BEBIDA FINA</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" *ngIf="opcionClicada==false">
      <h1>productos por familias elegidas en el menu, no he elegido</h1>
    </ion-content>
    <ion-content class="ion-padding" *ngIf="opcionClicada==true">
      <h1>ya he elegido una familia, vamos que he clicado en alguna parte</h1>
    </ion-content>
  </div>
  <ion-footer>
    <ion-button (click)="navHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
  </ion-footer>
