<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Plantilla de Producto por Familia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>{{familiaNombre}}</ion-list-header>
  <ion-list *ngFor="let productoFiltrado of productosListFiltradoPorFamiliasPlantilla">
    <ion-item *ngIf="!productoFiltrado.anadido">
      <ion-label>{{productoFiltrado.nombreProducto}}</ion-label>
      <ion-button slot="start"
        (click)="AddProductoALaPlantilla(productoFiltrado.idProducto,productoFiltrado.nombreProducto)">+
      </ion-button>
      <ion-button slot="end" (click)="navProductoInfo(productoFiltrado.idProducto)">Info</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
