<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>plantillaProductoFamilia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list-header>{{familiaNombre}}</ion-list-header>
  <ion-list *ngFor="let productoFiltrado of productosListFiltradoPorFamiliasPlantilla">
    <ion-item>
      <ion-label>{{productoFiltrado.nombreProducto}}</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-button slot="end" (click)="navProductoDetalle()">Ver</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
