<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>plantillaProductoFamilia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>BEBIDA FINA</ion-list-header>
  <ion-list>
    <ion-item>
      <ion-label>DYC 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
      <ion-button slot="end">Ver</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>JB 1l</ion-label>
      <ion-checkbox color="primary" slot="start"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p>aqui va la lista de los productos (checkbox) dependiendo de la familia escogida anteriormente</p>

</ion-content>
