<ion-header>
  <ion-toolbar>
    <ion-title>productoDetalle</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-row>
      <ion-col><img src="../../assets/icon/dyc.jpg" alt=""></ion-col>
      <ion-col>
        <p>DYC 1l</p>
        <p>Precio: 10.39</p>
        <p>Descripcion: Botella de DYC de 1 litro</p>
        <p>Marca: DYC</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <input type="number" class="bg-gray-300 rouded m-2">
      <ion-button color="dark">Añadir</ion-button>
    </ion-row>
  </ion-card>

</ion-content>
