<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pantilla Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="success">Bebida Fina</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="success">CREMAS Y LICORES</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="success">VINOS</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="success">CERVEZAS</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="light">REFRESCOS</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="light">DESAYUNOS</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="light">COCINA</ion-button>
      <ion-button expand="block" (click)="navPlantillaProfuctoFamilia()" color="light">MENAJE Y LIMPIEZA</ion-button>
    </ion-card-content>
    <ion-card-content>
      <ion-button expand="block" color="dark">GUARDAR PLANTILLA</ion-button>
      <ion-button expand="block" color="dark">AÑADIR PRODUCTO</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
