<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pantilla Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Familia de productos</ion-card-title>
    <ion-card-content *ngFor="let familia of familasList">
      <ion-item button (click)="navPlantillaProfuctoFamilia(familia.nombre)">{{familia.nombre}}</ion-item>
    </ion-card-content>
    <!-- <ion-card-content>
      <ion-button expand="block" color="dark">GUARDAR PLANTILLA</ion-button>
      <ion-button expand="block" color="dark">AÑADIR PRODUCTO</ion-button>
    </ion-card-content> -->
  </ion-card>
</ion-content>
