<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center font-serif text-3xl ">
      CashExtremeño
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="flex justify-center p-5 m-5 h-1/5">
    <img src="../../assets/icon/logo-cash-extremenio-300x99.png" alt="">
  </div>
  <div class="flex flex-col justify-center  items-center m-4 p-3 h-3/5">

    <ion-button class="min-w-full  m-1.5" color="success" (click)="navPlantillaPedido()">plantilla de pedido
    </ion-button>


    <ion-button class="min-w-full m-1.5" color="light" (click)="navMenuPedido()">Hacer Pedido</ion-button>


    <ion-button class="min-w-full m-1.5" color="dark" (click)="navPedidoActual()">Ver pedido actual</ion-button>

  </div>

</ion-content>
